@import "tailwindcss";

@font-face {
    font-family: 'Mona Sans';
    src:
            url('../../public/Mona-Sans.woff2') format('woff2 supports variations'),
            url('../../public/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer components {
    .polaroid {
        @apply flex flex-col w-100 mdx:max-w-56 aspect-3/2 justify-center p-5 lgx:max-w-65 lgx:max-h-75
        gap-2 items-center font-serif text-3xl text-center text-white
        bg-neutral-900 shadow-md shadow-black/50 transition duration-300 ease-in-out;
    }
    .polaroid:hover {
        @apply z-10 -translate-y-1.5 shadow-xl mdx:scale-150;
    }

    .terminal {
        @apply bg-black w-full outline-1 outline-neutral-800 flex flex-col p-1 rounded-2xl mt-2 justify-center lgx:items-center lgx:flex-row lgx:gap-10;
    }

    .card {
        @apply bg-neutral-950 p-3 rounded-2xl shadow-md shadow-black/50
        transition duration-300 w-100 mdx:max-w-full;
    }
    .card:hover{
        @apply -translate-y-1.5 shadow-xl;
    }
    .card-header {
        @apply -mt-3 mx-1 pt-1 h-[40px] flex flex-row
        items-center justify-start gap-1 font-bold text-[20px];
    }
    .card-header-icon {
        @apply w-[20px] fill-neutral-200 mt-0.5;
    }

    #about:target {
        @apply animate-highlight;
        scroll-margin-top: 25vh;
    }
    #contact:target {
        @apply animate-highlight;
        scroll-margin-top: 25vh;
    }
    #statistics:target {
        @apply animate-highlight;
        scroll-margin-top: 25vh;
    }
    #neofetch:target {
        @apply animate-highlight;
        scroll-margin-top: 10vh;
    }

    .badge {
        @apply aspect-88/31 w-30.5 mdx:w-29 lgx:w-35 transition duration-300;
    }
    .badge:hover {
        @apply z-10 -translate-y-1.5 scale-200 shadow-xl shadow-black/50;
    }
    .badge:active {
        @apply -translate-y-0.5;
    }

    .tile-button{
        @apply bg-neutral-500/20 w-22.5 lgx:w-28.5 flex-1 mdx:flex-none aspect-square flex
        items-center justify-center rounded-2xl shadow-md shadow-black/50
        transition duration-300 ease-in-out;
    }
    .tile-button:hover{
        @apply -translate-y-1.5;
    }

    .tile{
        @apply shadow-xl shadow-black/50 transition duration-300 ease-in-out
        relative aspect-square rounded-3xl bg-[#101010] overflow-hidden;
    }
    .tile:hover{
        @apply -translate-y-1.5;
    }

    .button-icon {
        @apply w-[40px] lgx:w-[45px] fill-neutral-200;
    }

    .button{
        @apply bg-neutral-700 outline-2 outline-neutral-500 text-neutral-200 flex flex-col
        lgx:flex-row w-[80px] h-[80px] lgx:w-[150px] lgx:h-[50px] lgx:pt-2 lgx:pr-3 lgx:gap-1
        active:shadow-neutral-400 justify-center items-center lgx:justify-normal px-2 py-2 rounded-2xl
        shadow-md shadow-neutral-600  transition duration-100 ease-in-out;
    }
        .button:hover{
            @apply -translate-y-1.5;
        }
    .button:active{
        @apply -translate-y-0.5 bg-neutral-500/20;
    }
}

@theme {
    --animate-highlight: highlight 1.5s ;

    @keyframes highlight {
        0% {
            box-shadow:
                    0 10px 15px -3px rgba(0, 0, 0, 0.2),
                    0 4px 6px -4px rgba(0, 0, 0, 0.1);

        }
        50% {
            box-shadow:
                    0 10px 15px -3px rgba(255, 255, 255, 0.4),
                    0 4px 6px -4px rgba(255, 255, 255, 0.5);
        }
    }

    --breakpoint-lgx: 1256px;
    --breakpoint-mdx: 860px;

    --text-abt: 26.5px;
    --text-abt--line-height: calc(2 / 1.64);

    --text-footer: 18px;
    --text-footer--line-height: calc(2 / 1.7);

    --text-abtx: 35px;
    --text-abtx--line-height: calc(2 / 1.95);

    --color-canvas: #202020;
    --color-webring: #172554;

    --font-mona-sans: 'Mona Sans', sans-serif;
}
