---
// Images
import Avatar from '../../assets/images/vector/avatar.svg';
---

<div class="bg-neutral-950 h-30 mdx:h-50 flex flex-row gap-2 justify-center items-center">
    <Avatar class="stroke-1 w-10 mdx:w-15 lgx:w-20"/>
    <div class="flex-col">
        <p class="mdx:text-2xl lgx:text-3xl">Made by Glutesha with <3</p>
        <p class="mdx:text-xl lgx:text-2xl text-neutral-400">Mascot designed by <a class="text-cyan-300" href="https://evakirieshki.straw.page/" target="_blank" rel="noopener noreferrer">Aira<a/> and modelled by <a class="text-cyan-300" href="https://brabion.carrd.co/" target="_blank" rel="noopener noreferrer">BRABION</a></p>
    </div>
</div>