---
import { Image } from "astro:assets";
import NavigationButton from "../parts/NavigationButton.astro";
import { Chuvirla } from "./react/Chuvirla";

// Images
import frame from '../../assets/images/frame.png';
import logo from '../../assets/images/logo.png';

// Icons
import IdIcon from '../../assets/images/vector/id.svg'
import SpeechBubbleIcon from '../../assets/images/vector/speechbubble.svg'
import TerminalIcon from '../../assets/images/vector/terminal.svg'
import ArrowIcon from '../../assets/images/vector/arrow.svg'
---

<div class="bg-neutral-950 flex flex-col jusify-center items-center shadow-xl shadow-black/25 mdx:pb-10">
    <div class="flex flex-col mdx:flex-row justify-center items-center gap-2 mdx:gap-8 px-5 py-5 mdx:px-0">
        <div style={{ backgroundImage: `url(${frame.src})` }} class="border-1 border-white shadow-xl shadow-neutral-100/20 rounded-full">
            <Chuvirla client:load />
        </div>
        <div class="pt-5 mdx:flex-col gap-2 justify-center items-center text-center mdx:text-start">
            <Image loading="eager" class="w-[360px] lgx:w-2xl" src={logo} alt="Glutesha" />
            <p class="mdx:ms-1 font-mono text-[18px] lgx:text-[33px]">Goober, geek, tech obsessed freak</p>
            <div class="flex flex-row flex-wrap font-mono font-bold justify-center mdx:justify-normal items-center mdx:items-begin gap-3 lgx:gap-5 pb-5 rounded-2xl pt-3 mdx:w-full">
                <NavigationButton href="#about" text="About">
                    <IdIcon class="button-icon" />
                </NavigationButton>
                <NavigationButton href="#contact" text="Contact">
                    <SpeechBubbleIcon class="button-icon" />
                </NavigationButton>
                <NavigationButton href="#statistics" text="Stats">
                    <ArrowIcon class="button-icon" />
                </NavigationButton>
                <NavigationButton href="#neofetch" text="Setups">
                    <TerminalIcon class="button-icon" />
                </NavigationButton>
            </div>
        </div>
    </div>
    <p class="text-center text-3xl font-bold mdx:hidden pt-8 pb-10 animate-bounce">⌄</p>
</div>