---
import Card from "../../layouts/Card.astro";
import Button from "../parts/Button.astro";

// Icons
import StackIcon from '../../assets/images/vector/stack.svg'

// Button Buttons
import Python from '../../assets/images/vector/logos/python.svg'
import Typescript from '../../assets/images/vector/logos/typescript.svg'
import Cplusplus from '../../assets/images/vector/logos/c++.svg'
import C from '../../assets/images/vector/logos/c.svg'
import PlatformIO from '../../assets/images/vector/logos/platformio.svg'
import Arduino from '../../assets/images/vector/logos/arduino.svg'
import Espressif from '../../assets/images/vector/logos/espressif.svg'
import FastAPI from '../../assets/images/vector/logos/fastapi.svg'
---
<Card title="Stack">
    <StackIcon class="card-header-icon" slot="icon"/>
    <div class="grid grid-cols-4 -m-0.5 justify-center items-center gap-2 pt-1.5" slot="content">
        <Button href="https://bsky.app/profile/glutesha.pds.witchcraft.systems"><Python class="px-4 fill-neutral-200"/></Button>
        <Button href="https://discord.gg/r3q2z5QpZ8"><Typescript class="px-4 fill-neutral-200"/></Button>
        <Button href="https://github.com/glutesha"><Cplusplus class="px-3 fill-neutral-200"/></Button>
        <Button href="https://www.reddit.com/user/GLUTESHA/"><C class="px-4 fill-neutral-200"/></Button>
        <Button href="https://t.me/glutesha"><Arduino class="px-3.5 fill-neutral-200"/></Button>
        <Button href="mailto:mail@glutesha.me"><Espressif class="px-4 fill-neutral-200"/></Button>
        <Button href="https://www.last.fm/user/Glutesha"><PlatformIO class="px-4 fill-neutral-200"/></Button>
        <Button href="/links"><FastAPI class="px-4 fill-neutral-200"/></Button>
    </div>
</Card>