---
import { Image } from "astro:assets";

// Icons
import ArrowIcon from '../../assets/images/vector/arrow.svg'

// Layouts
import Card from "../../layouts/Card.astro";
---

<Card id="statistics" title="Stats" additional_class="mdx:basis-105">
    <ArrowIcon class="card-header-icon" slot="icon"/>
    <div class="flex flex-col gap-4 pt-2" slot="content">
        <Image loading="eager" width="500" height="200" alt="hackatime" src="https://github-readme-stats.hackclub.dev/api/wakatime?username=3879&api_domain=hackatime.hackclub.com&&custom_title=Hackatime+Stats&layout=compact&cache_seconds=0&langs_count=8&theme=dark" />
        <Image loading="eager" width="500" height="200" alt="github" src="https://readmestats.glutesha.ru/api?username=glutesha&show_icons=true&theme=dark" />
    </div>
</Card>