---
// Layouts
import Main from '../layouts/Main.astro';

// Components
import Header from '../components/widgets/Header.astro'
import About from '../components/widgets/About.astro';
import Contact from '../components/widgets/Contact.astro';
import Me from '../components/widgets/Me.astro';
import Stats from '../components/widgets/Stats.astro';
import Setups from '../components/widgets/Setups.astro';
import Badges from '../components/widgets/Badges.astro';
import Stack from "../components/widgets/Stack.astro";
import Listened from "../components/widgets/Listened.astro";

import { Webring } from '../components/widgets/react/Webring';
---

<Main>
    <Header />
    <div class="flex flex-col items-center mdx:justify-center mdx:flex-row mdx:flex-wrap mdx:px-5 py-5 gap-2">
        <About server:defer/>
        <Me />
        <Stack />
        <Contact/>
        <Stats/>
        <Badges />
        <Listened />
        <Setups />
        <Webring client:load />
    </div>
</Main>