---
// Layouts
import Page from '../layouts/Page.astro';

// Components
import Header from '../components/widgets/Header.astro'
import About from '../components/widgets/About.astro';
import Contact from '../components/widgets/Contact.astro';
import Me from '../components/widgets/Me.astro';
import Stats from '../components/widgets/Stats.astro';
import Setups from '../components/widgets/Setups.astro';
import Badges from '../components/widgets/Badges.astro';
import Stack from "../components/widgets/Stack.astro";
import Listened from "../components/widgets/Listened.astro";

import { Webring } from '../components/widgets/react/Webring';
import Footer from "../components/widgets/Footer.astro";
import background from "../assets/images/background.png";
---

<Page>
    <Header />
    <div class="flex items-center justify-center" style={`background-image: url(${background.src}); background-attachment: fixed; background-size: 100%`}>
        <div class="flex flex-col items-center max-w-300 mdx:justify-center mdx:flex-row mdx:flex-wrap mdx:px-5 py-5 gap-2">
            <About server:defer/>
            <Me />
            <Stack />
            <Contact/>
            <Stats/>
            <Badges />
            <Listened />
            <Setups />
            <Webring client:load />
        </div>
    </div>
    <Footer />
</Page>