---
// Layouts
import Main from '../layouts/Main.astro';

// Components
import Header from '../components/widgets/Header.astro'
import About from '../components/widgets/About.astro';
import Contact from '../components/widgets/Contact.astro';
import Me from '../components/widgets/Me.astro';
import Stats from '../components/widgets/Stats.astro';
import Setups from '../components/widgets/Setups.astro';
import Badges from '../components/widgets/Badges.astro';
import { Webring } from '../components/widgets/react/Webring';
import Stack from "../components/widgets/Stack.astro";
---

<Main>
    <Header />
    <div class="flex flex-col items-center md:justify-center md:flex-row md:flex-wrap md:px-5 py-5 gap-4 md:gap-2">
        <About server:defer slot="content"/>
        <Me />
        <Stack />
        <Contact/>
        <Stats/>
        <Badges />
        <Setups />
        <Webring client:load />
    </div>
</Main>