---
import { Image } from 'astro:assets';

import Main from '../layouts/Main.astro';
import MenuButton from '../layouts/MenuButton.astro';

import { Chuvirla } from '../components/Chuvirla';
import { About } from '../components/About';

import frame from '../assets/images/frame.png';
import logo from '../assets/images/logo.png';

import IdIcon from '../assets/images/vector/id.svg'
import SpeechBubbleIcon from '../assets/images/vector/speechbubble.svg'
import TerminalIcon from '../assets/images/vector/terminal.svg'
import ArrowIcon from '../assets/images/vector/arrow.svg'
---

<Main>
    <div class="bg-neutral-950 flex flex-col jusify-center items-center shadow-xl shadow-black/25 md:pb-10">
        <div class="flex flex-col md:flex-row justify-center items-center gap-2 md:gap-8 px-5 py-5 md:px-0">
            <div style={{ backgroundImage: `url(${frame.src})` }} class="border-1 border-white shadow-xl shadow-neutral-100/20 rounded-full">
                <Chuvirla client:load />
            </div>
            <div class="pt-5 md:flex-col gap-2 justify-center items-center text-center md:text-start">
                <Image loading="eager" class="w-sm lg:w-2xl" src={logo} alt="Glutesha" />
                <p class="md:ms-1 font-mono text-[19px] lg:text-[33px]">Goober, geek, tech obsessed freak</p>
                <div class="flex flex-row flex-wrap font-mono font-bold justify-center md:justify-normal items-center md:items-begin gap-3 md:gap-5 pb-5 rounded-2xl pt-3 md:w-full">
                    <MenuButton href="#about" text="About">
                        <IdIcon class="button-icon" />
                    </MenuButton>
                    <MenuButton href="#contact" text="Contact">
                        <SpeechBubbleIcon class="button-icon" />
                    </MenuButton>
                    <MenuButton href="#statistics" text="Stats">
                        <ArrowIcon class="button-icon" />
                    </MenuButton>
                    <MenuButton href="#neofetch" text="Setups">
                        <TerminalIcon class="button-icon" />
                    </MenuButton>
                    </div>
            </div>
        </div>
        <p class="text-center text-3xl font-bold md:hidden pt-8 pb-10 animate-bounce">⌄</p>
    </div>
    <div class="flex flex-col md:flex-row px-5 py-5">
        <div id="about" class="card md:basis-120">
            <div class="card-header">
                <IdIcon class="card-header-icon" />
                <p>About</p>
            </div>
            <About server:defer/>
        </div>
    </div>
</Main>