---
import Main from '../layouts/Main.astro';
import { Chuvirla } from '../components/Chuvirla';
---
<Main>
    <div class="flex items-center justify-center h-full w-full">
        <Chuvirla client:load />
    </div>
</Main>