---
// Layouts
import Card from '../layouts/Card.astro';

// Icons
import Diamond from '../assets/images/vector/diamond.svg'

---

<Card title="Favorite Badges">
    <Diamond class="card-header-icon" slot="icon"/>
    <div class="pt-2 flex flex-wrap justify-center items-center md:justify-start md:items-start break-after-all gap-1 overflow-visible" style="image-rendering: pixelated;" slot="content">
        <a class="badge" href="https://otomir23.me/"><img class="pixel" src="https://otomir23.me/88x31.png" alt="otomir23's 88x31 button"></a>
        <a class="badge" href="https://milkcool.ru"><img alt="milkcool" class="pixel" src="/badges/lily.png"></a>
        <a class="badge" href="https://fckn.rocks" target="_blank"><img class="pixel" alt="fcknrocks!" src="https://fckn.rocks/fcknrocks.png"></a>
        <a class="badge" href="https://veselcraft.ru/" title="" target="_black"> <img class="pixel" src="https://veselcraft.ru/images/vc.gif" alt="veselcraft"> </a>
        <a class="badge" href="https://smokepowered.com/"><img alt="smokepowered" class="pixel" src="/badges/smoke.gif"></a>
        <a class="badge" href="https://www.youtube.com/user/LinusTechTips"><img alt="freetechtips" class="pixel" src="/badges/ltt.gif"></a>
        <a class="badge" href="https://asyasocute.online/"><img alt="asya" class="pixel" src="https://asyasocute.online/badges/cowl.png"></a>
        <a class="badge" href="https://egroish.net/kitty.html"><img class="pixel" src="https://egroish.net/images/kitty_badge.png" alt="Kitty Badge"></a>
        <a class="badge" href="https://egroish.net/"><img class="pixel"  src="https://egroish.net/images/EgroishBadge.gif" alt="Egroish's Badge"></a>
        <a class="badge" href="https://yesterweb.org/no-to-web3/"><img alt="No to Web3" class="pixel" src="https://lostletters.neocities.org/graphics/linkout/nft_sadgrl.gif"></a>
        <a class="badge"><img alt="weed" class="pixel" src="/badges/weed.gif"></a>
        <a class="badge"><img alt="server" class="pixel" src="/badges/server.gif"></a>
        <a class="badge"><img alt="shithtml" class="pixel" src="/badges/shithtml.gif"></a>
        <a class="badge"><img alt="jack" class="pixel" src="/badges/jack.gif"></a>
        <a class="badge"><img alt="desktop" class="pixel" src="/badges/desktop.gif"></a>
        <a class="badge"><img alt="burnie" class="pixel" src="/badges/burnie.gif"></a>
        <a class="badge"><img alt="ralsei" class="pixel" src="/badges/ralsei.gif"></a>
        <a class="badge"><img alt="bob" class="pixel" src="/badges/bob.gif"></a>
        <a class="badge"><img alt="anarchy" class="pixel" src="/badges/anarchy.gif"></a>
        <a class="badge"><img alt="teto" class="pixel" src="/badges/teto.gif"></a>
        <a class="badge"><img alt="chrome" class="pixel" src="/badges/chrome.gif"></a>
        <a class="badge"><img alt="3ds" class="pixel" src="/badges/3ds.png"></a>
        <a class="badge"><img alt="killmenow" class="pixel" src="/badges/killmenow.jpg"></a>
    </div>
</Card>
