---
const { href } = Astro.props;
---

<a
    class="tile-linkpage-button hover:shadow-neutral-200/30
            active:shadow-neutral-200/50 active:-translate-y-0.5
            active:bg-neutral-500/10"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
